<%= simple_form_for(@meeting) do |f| %>
  <%= f.error_notification %>

 <!--<div class="form-inputs">-->
    <form>
      <%= f.input :title, :placeholder=>"Ex: TM_08292012",:input_html=>{:class => "span5"} %>

      <%= f.input :agenda, label: "Intro", :placeholder=>"Brief introduction of the meeting",:input_html=>{:class => "span5"} %>

      <div class="formGroup">
        <%= f.input :role_list,:placeholder=>"List roles,separated by ,",:input_html=>{:class => "span5 formInline"} %>
        <button class="btn  formInline" type="button" onClick="loction.href='#'">Import</button>
      </div>

      <div class=" formGroup">
        <%= f.input :member_list, :placeholder=>"List member emails,separated by ,",
        :input_html=>{:class => "span5 formInline"} %>
        <button class="btn  formInline" type="button" onClick="loction.href='#'">Import</button>
      </div>

      <div class="formInline" >
        <%= f.input :started_at %>
      </div>

      <%= f.input :location,:placeholder=>"Ex: 12808 West Airport Suite 260. Sugar Land TX 77478", :input_html=>{:class => "span5"} %>

      <%= f.button :submit %>
  </form>

 <!-- <div class="form-actions">-->
<% end %>
