

<h1>Listing meetings</h1>
<p>
  <%= link_to "All", params.merge(:type => 'all', :page => 1 ) %>
  <%= link_to "Organizer", params.merge(:type => 'mine', :page => 1  ) %>
  <%= link_to "Member", params.merge(:type => 'join', :page => 1  ) %>
</p>

<% if @meetings.previous_page %>
  <%= link_to "< Previous", params.merge(:page => @meetings.previous_page ) %>
<% end %>
Page <%= @meetings.current_page %> of <%= @meetings.total_pages %>
<% if @meetings.next_page %>
  <%= link_to "Next >", params.merge(:page => @meetings.next_page ) %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Agenda</th>
    <th>Role list</th>
    <th>Member list</th>
    <th>Started at</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr class="<%= is_new_meeting(meeting) %>">
    <td><%= meeting.title %></td>
    <td><%= meeting.agenda %></td>
    <td><%= meeting.role_list %></td>
    <td><%= meeting.member_list %></td>
    <td><%= meeting.started_at %></td>
    <td><%= meeting.location %></td>
    <% if current_user %>
    <td><%= link_to 'Enter', meeting %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
