<div class="container-fluild"  >
  <div class="editAccount" >
<h3>Edit My Account</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="EA-label-hover"><%= f.email_field :email %>
    <p> Email cannot be modified.</p>

  </div>

  <div class="EA-label-hover"><%= f.text_field :username %>
    <p> Username cannot be modified.</p>
  </div>

  <div class="EA-label-hover"><%= f.password_field :password, placeholder: "New Password" ,autocomplete: "off" %>
  <p>  Leave blank if you don't want to change it.</p>
  </div>
  <div class="EA-label-hover"><%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  <p>  Leave blank if you don't want to change it.</p>
  </div>

  <div class="EA-label-hover"> <%= f.password_field :current_password, placeholder: "Current Password" %><sup>*</sup>

  <p>Current password is required for any change.</p>
</div>

  <div><%= f.submit "Update", class: "btn btn-editAccount btn-primary"%></div>
<% end %>



<div class="editCancelAcnt"><div class="cancelText"><%= link_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div></div>

<%= link_to "Back", :back %>
</div>
</div>
