
<p>
  <b>Welcome to join our meeting: </b>
  <%= link_to @meeting.title, meeting_url(@meeting) %>
</p>

<p>
  <b>Intro:</b>
  <%= @meeting.intro %>
</p>


<p>
  <b>Started at:</b>
  <%= show_time(@meeting.started_at) %>
</p>

<p>
  <b>Location:</b>
  <%= @meeting.location %>
</p>

<p>
  <b>Organizer:</b>
  <%= @meeting.organizer_username %>
</p>

<p>Thank you!</p>