
<p>
  <b>Welcome to join our meeting: </b>
  <%= @meeting.title %>
</p>

<p>
  <b>Intro:</b>
  <%= @meeting.intro %>
</p>

<p>
  <b>Role list:</b>
  <%= @meeting.role_list %>
</p>

<p>
  <b>Invitation list:</b>
  <%= @meeting.invitation_list %>
</p>

<p>
  <b>Started at:</b>
  <%= @meeting.started_at %>
</p>

<p>
  <b>Location:</b>
  <%= @meeting.location %>
</p>

<p>
  <b>Organizer:</b>
  <%= @meeting.organizer_username %>
</p>

<p>Thank you!</p>