
<h3>Dear BestAssets Fellow Toastmasters:</h3>

<p>
You are invited to attend the meeting   

<%= link_to @meeting.title, meeting_url(@meeting) %>

held on ( <%= @meeting.started_at.in_time_zone.strftime("%a %Y-%m-%d %I-%M%p") %> ).
</p>


<p>
Theme/Introduction of the meeting:
  <%= @meeting.intro %>
</p>

<p>
Please sign in and confirm your role at 
<%= link_to "here", meeting_url(@meeting) %>.
</p>

<p>
Thank you so much for your cooperation!
</p>

<p>
If you don't have account yet,   please  sign up  
<%= link_to "here", url_for("http://tmeetin.com/users/sign_up") %>
first,
</p>     

<p>Yours sincerely, </p>
<p><%= @meeting.organizer.username %></p>


