<div class="container-fluild"  >
  <div class="newPwd">
  <h2>Forgot password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email,placeholder: "Email",class: "input-large" %></div>

  <div><%= f.submit "Send email to me",class: "btn btn-newPwd btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
