<!DOCTYPE html>
<html>
<head>
  <title>Meetin</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.placeholder"%>
  <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="user_nav" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="brand" href="/">Meetin</a>

          <ul class="nav pull-right">
            <% if user_signed_in? %>

          <li ><%= link_to 'My Account', edit_user_registration_path %> </li>
          <li class="divider-vertical"></li>
          <li><%= link_to 'Meeting List',meetings_path %> </li>
          <li class="divider-vertical"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
             
          
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %> </li>
             <li class="divider-vertical"></li>
          <li ><%= link_to "Login", new_user_session_path %></li>
             <li class="divider-vertical"></li>
          
        <% end %>

          </ul>
        </div>
      </div>
    </div>
 

  <%= yield %>

  

</body>
</html>
